.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.column-half {
  flex-basis: 50%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fifth {
  flex-basis: 20%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-right {
  justify-content: right;
}

.justify-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-end {
  align-self: flex-end;
}
